body {
    font-family: "Montserrat", sans-serif;
    background: #fafafa;
}


ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button { 
    cursor: pointer;
}

address {
    font-style: normal;
}

.section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111; }

.section-title .accent {
    color: #fd9222;     
}


.btn {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}

.header-page {

}

.header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: #111;
    text-transform: uppercase;
}

.header-logo-italic {
    font-style: italic;
    
}


.header-menu {
    
}

.header-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;        
    letter-spacing: -0.02em;
    color: #111;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #fd9222;
}


/* ---------HERO---------- */

.hero {
    background-color: #1e1823;
}

.hero-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21429;
    letter-spacing: -0.03em;
    color: #fff;
}

.hero-btn {
    background: #fd9222
}

.hero-btn:hover,
.hero-btn:focus {
    background: #fcf1e0;
    color: #fd9222;
}

.hero-anchor-link {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background-color: #1e1823;
}
.hero-anchor-link:hover,
.hero-anchor-link:focus {
    color: #fd9222;
}

.hero-crroll-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.03em;
    color: #fff;
}

/* ---------FEATURE---------- */

.feature {
    background: #1e1823;
}

.feature-list {

}

.feature-item {

}

.feature-subtitle {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.feature-item-text {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

/* ---------INGREDIENTS---------- */

.ingredients {

}

.ingredients-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111;
}

.ingredients-title-part {
    color: #fd9222;
}

.ingredients-title-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    text-align: center;
    color: #111;
}

.ingredients-list {

}

.ingredients-item {

}

.ingredients-img {

}

.ingredients-list-subtitle {

}