body {
    font-family: "Montserrat", sans-serif;
    background: #ececec;
}


ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

button { 
    cursor: pointer;
}

address {
    font-style: normal;
}

.container {
    width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111; }

.section-title .accent {
    color: #fd9222;     
}


.btn {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}

/* ---------HEADER---------- */

.header-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: #111;
    text-transform: uppercase;
}

.header-logo-italic {
    font-style: italic; 
}

.header-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;        
    letter-spacing: -0.02em;
    color: #111;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #fd9222;
}


/* ---------HERO---------- */

.hero {
    background-color: #1e1823;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 30px;
    margin-bottom: 72px;
}

.hero-wrapper {
    padding: 380px 40px 40px 40px;
}


.hero-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21429;
    letter-spacing: -0.03em;
    color: #fff;
    margin-bottom: 32px;
    max-width: 484px;
}

.hero-btn {
    background: #fd9222
}

.hero-btn:hover,
.hero-btn:focus {
    background: #fcf1e0;
    color: #fd9222;
}

.hero-anchor-link {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background-color: #1e1823;
}

.hero-anchor-link:hover,
.hero-anchor-link:focus {
    color: #fd9222;
}

.hero-crroll-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.03em;
    color: #fff;
}

/* ---------FEATURE---------- */

.feature {
    background: #1e1823;
    padding-top: 50px;
    padding-bottom: 50px;
}

.feature-list {

}

.feature-item {

}

.feature-subtitle {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    margin-bottom: 18px;
}

.feature-item-text {
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

/* ---------TASTE---------- */

.taste {
padding-top: 100px;
padding-bottom: 50px;
}

.taste-title {
 max-width: 411px;
 margin: 0 auto;
 margin-bottom: 28px;
}

.taste-title-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #111;
    max-width: 486px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.taste-list {

}

.taste-item {
border: 1px solid #fd9222;
padding: 28px 32px;
border-radius: 15px;
}

.taste-image {

}

.taste-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #fff;
}

/* ---------MADE---------- */

.made {
padding-top: 50px;
padding-bottom: 50px;
}

.made-title {
   
}

.made-image {

}

.made-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    color: #111;
}

.made-list {

}

.made-item {

}

.made-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #111;
}

/* ---------REVIEWS---------- */

.reviews {
padding-top: 50px;
padding-bottom: 100px;
}

.reviews-title {

}

.reviews-list {

}

.reviews-item {

}

.reviews-image {

}

.reviews-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #111;
}

.reviews-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}

.reviews-btn {
    font-size: 18px;
    color: #111;
}
.reviews-btn:hover,
.reviews-btn:focus {
    background: #fd9222;
    color: #fff;
}
/* ---------FOOTER---------- */

.footer {
    background-color: #1e1823;
    padding-top: 50px;
    padding-bottom: 86px;
}

.footer-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.footer-title .accent {
    color: #fd9222;
}

.footer-subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    text-align: center;
    color: #fff;
}

.footer-address {

}

.footer-address-list {
  
}

.footer-item {
  
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
}

.footer-menu-list {

}

.footer-menu-item {

}

.footer-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #fff
}